state_machine/state_machine_definition/JobStatusPollerStateMachine.json
{
    "Comment": "A state machine that submits a Job to AWS Batch and monitors the Job until it completes.",
    "StartAt": "Submit Batch Job",
    "States": {
      "Submit Batch Job": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:123456789012:function:StepFunctionsSample-JobStatusPol-SubmitJobFunction-1TM4KSKQ7MP4I",
        "ResultPath": "$.guid",
        "Next": "Wait X Seconds"
      },
      "Wait X Seconds": {
        "Type": "Wait",
        "SecondsPath": "$.wait_time",
        "Next": "Get Job Status"
      },
      "Get Job Status": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:123456789012:function:StepFunctionsSample-JobStatusPoll-CheckJobFunction-1HDT4XT32RFW6",
        "Next": "Job Complete?",
        "InputPath": "$.guid",
        "ResultPath": "$.status"
      },
      "Job Complete?": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.status",
            "StringEquals": "FAILED",
            "Next": "Job Failed"
          },
          {
            "Variable": "$.status",
            "StringEquals": "SUCCEEDED",
            "Next": "Get Final Job Status"
          }
        ],
        "Default": "Wait X Seconds"
      },
      "Job Failed": {
        "Type": "Fail",
        "Cause": "AWS Batch Job Failed",
        "Error": "DescribeJob returned FAILED"
      },
      "Get Final Job Status": {
        "Type": "Task",
        "Resource": "arn:aws:lambda:us-east-1:123456789012:function:StepFunctionsSample-JobStatusPoll-CheckJobFunction-1HDT4XT32RFW6",
        "InputPath": "$.guid",
        "End": true
      }
    }
  }